.login a,
.register a,
.resetPassword a {
  padding: 12px;
  font-size: 18px;
  color: #1565c0;
}

.passwordRow {
  display: flex;
}

.showPassword {
  height: fit-content;
  width: 54px;
  margin: 16.1px 0 8px -56px;
  border: solid;
  border-width: 1px;
  border-radius: 4px;

  .MuiButtonBase-root {
    padding: 27.5%;
  }
}
