@import "./variables";
@import "./breakpoints.scss";

.pageTitle {
  display: none;
}

.dark {
  height: 100%;
  background-color: $dark-background;
  color: $dark-text;

  .textCenter {
    text-shadow: 0px 0px 15px $light-text;
  }

  h1,
  h2,
  h3,
  h5,
  h5,
  h6,
  p,
  span {
    color: $dark-text;
  }

  .pageTitle {
    color: $dark-text;
  }

  .MuiPaper-root {
    background-color: #252627;

    .MuiSvgIcon-root {
      color: $light-color1;
    }
  }

  .MuiFormLabel-root,
  .MuiFormLabel-root.MuiSvgIcon-root,
  .MuiInputBase-input,
  .MuiSelect-select {
    color: $dark-text !important;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: $dark-text !important;
  }
}

.light {
  height: 100%;
  background-color: $light-color1;
  color: $light-text;

  h1,
  h2,
  h3,
  h5,
  h5,
  h6,
  p,
  span {
    color: $light-text;
  }

  .Image {
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.3);
  }
  .textCenter {
    text-shadow: 0px 0px 15px $dark-text;
  }

  .pageTitle {
    color: $light-text;
  }

  .MuiPaper-root {
    background-color: $light-color1;

    .MuiSvgIcon-root {
      color: #252627;
    }
  }

  .MuiFormLabel-root,
  .MuiFormLabel-root.MuiSvgIcon-root,
  .MuiInputBase-input,
  .MuiSelect-select {
    color: $light-text !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: $light-text !important;
  }

  .MuiIconButton-root {
    width: fit-content;
  }
}

@include max-phone {
  .pageTitle {
    text-align: center !important;
    display: unset;
    font-size: 10px;
    color: $light-color1;
  }
}
