// Register fonts
$main-font: "Roboto", Arial, Helvetica, sans-serif;
$title-font: "Open Sans", Arial, Helvetica, sans-serif;

$font-map: (
  "main-font": $main-font,
  "title-font": $title-font,
);

//Font weights
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$font-weight-map: (
  "normal": $weight-normal,
  "medium": $weight-medium,
  "semibold": $weight-semibold,
  "bold": $weight-bold,
);

$dark-text: #ffffff;
$dark-background: #181c1f;
$dark-primary: #252627;
$dark-secondary: #666666;
$dark-accent: #4299ff;

$light-text: #333333;
$light-background: #ffffff;
$light-primary: #f9f9f9;
$light-secondary: #f9f9f9;
$light-accent: #4299ff;

$dark-color1: #1a1a1a;
$dark-color2: #333333;
$dark-color3: #4d4d4d;
$dark-color4: #666666;
$dark-color5: #808080;

$light-color1: #ffffff;
$light-color2: #f9f9f9;
$light-color3: #f5f5f5;
$light-color4: #ededed;
$light-color5: #e0e0e0;

$accent1: #1976d2;
$accent2: #2581db;
$accent3: #318ce4;
$accent4: #3c97ed;
$accent5: #47a2f6;
$accent6: #52adf0;
$accent7: #5db8f9;
$accent8: #68c3ff;
$accent9: #73ceff;
$accent10: #7ed9ff;

$shade1: #7ed9ff;
$shade2: #8ce3ff;
$shade3: #9aeaff;
$shade4: #a8f2ff;
$shade5: #b6f9ff;
$shade6: #c4ffff;
$shade7: #d2ffff;
$shade8: #e0f1ff;
$shade9: #eeffff;
$shade10: #fcffff;

$success: #00c000;
$error: red;
$warning: #ec5252;

.dark {
  background-color: $dark-background;
}

.light {
  background-color: $light-background;
}

// $theme-colors: (
//   "background": $background,
//   "bright": $bright,
//   "accent": $accent,
//   "success": $success,
//   "error": $error,
//   "warning": $warning,
// );

// Spacing
$spacing: 0.3125rem;
$spacing-0: 0px;
$spacing-1: $spacing;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 3;
$spacing-4: $spacing * 4;
$spacing-5: $spacing * 5;
$spacing-6: $spacing * 6;
$spacing-7: $spacing * 7;
$spacing-8: $spacing * 8;
$spacing-9: $spacing * 9;
$spacing-10: $spacing * 10;
$spacing-11: $spacing * 11;
$spacing-12: $spacing * 12;

// z-index
$z-layers: (
  "default": 1,
  "second": 2,
  "third": 3,
  "fourth": 4,
  "fifth": 5,
  "below": -1,
  "contribution": 9,
  "footer": 100,
  "menu": 110,
  "modal": 50,
  "submit": 5,
  "carousel": 100,
  "popup": 200,
);

// font-sizes
$extra-small: 0.5rem; // ~8px
$small: 0.875rem; // ~14px
$normal: 1rem; // ~16px
$semi-normal: 1.125rem; // ~18px
$medium: 1.5rem; // ~24px
$large: 2rem; // ~32px
$extra-large: 3rem; // ~48px

$font-sizes: (
  "extra-small": $extra-small,
  "small": $small,
  "normal": $normal,
  "medium": $medium,
  "large": $large,
  "extra-large": $extra-large,
);

$header-height: 3.8rem;
