.Login_container {
  width: 80%;
  height: 280px;
  background-color: #222222;
  border-radius: 10px;
}
.input_fields {
  padding-top: 20px;
  width: 60%;
  display: table;
  margin: 0 auto;
}

.footer_items {
  width: 60%;
  display: flex;
  margin: 0 auto;
}

.footer_item_one {
  text-decoration: none;
}

.footer_item_two {
  margin-top: auto;
  justify-content: flex-end;
  margin-left: auto;
}
