@import "../../assets/scss/variables";

.Login_container {
  margin: 0 auto;
  width: 80%;
  height: 280px;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.light .Login_container {
  background-color: $shade8;
}

.input_fields {
  padding-top: 20px;
  width: 60%;
  display: table;
  margin: 0 auto;
}

.footer_items {
  width: 60%;
  display: flex;
}

.footer_item_one {
  margin: 0 !important;
  text-decoration: none;
}

.footer_item_two {
  margin-top: auto;
  justify-content: flex-end;
  margin-left: auto;
}

@media screen and (max-width: 550px) {
  .Login_container {
    width: 100%;
  }
  .input_fields {
    width: 80%;
  }
}
