@import "../../assets/scss/theme";

.light .login_container {
  background-color: $shade8;
}

.login_container {
  margin: 0 auto;
  width: 80%;
  height: fit-content;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  &--content {
    padding: 20px 20%;

    .footer_items {
      align-items: center;
      display: flex;
      flex-direction: column;

      Button {
        margin: 1rem 0;
      }

      .footer_item_one {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
        .MuiButtonBase-root {
          width: -webkit-fill-available !important;
        }
      }
      hr {
        width: -webkit-fill-available;
      }
      .footer_item_two {
        align-items: center;

        Button {
          background-color: $accent4;
        }
      }
    }
  }
}

@include max-phone {
  .login {
    .login_container {
      width: 95%;
    }
  }
}
