@import "../../assets/scss/theme";

.resetPassword {
  margin: 0 auto;
  width: 50%;

  .resetPasswordWrapper {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    &--content {
      padding: 20px 10%;

      .MuiTextField-root {
        margin-bottom: 1rem;
      }

      .security-code-input {
        display: flex;
        gap: 16px;
        margin: 16px 0;
        justify-content: center;
        margin-bottom: 2rem;

        .MuiTextField-root {
          width: calc(16% - 32px);
          height: 70px;
          margin-bottom: 0;

          input {
            text-align: center;
            font-size: 2rem;
            padding: 16px 0;
            letter-spacing: 0.5rem;
          }
        }
      }
    }
  }
}

.light .resetPassword {
  .resetPasswordWrapper {
    background-color: $light-primary;
  }
}
